textarea {
    min-height: 400px;
}

.mail {
    border-color: black;
    border-style: solid; 
    border-width: 2px; 
    padding: 10px 0;
}

.timestamp {
    text-align: right;
    color: darkgray;
}
